  <div class="content">
      <h2 class="content-head is-center">Get in touch with us</h2>

      <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5 no-padding">
          <form class="pure-form pure-form-stacked">
            <fieldset>

              <label for="name">Your Name</label>
              <input id="name" type="text" placeholder="Your Name">


              <label for="email">Your Email</label>
              <input id="email" type="email" placeholder="Your Email">

              <label for="password">Your Password</label>
              <input id="password" type="password" placeholder="Your Password">

              <button type="submit" class="pure-button">Sign Up</button>
            </fieldset>
          </form>
        </div>

        <div class="l-box-lrg pure-u-1 pure-u-md-3-5 no-padding">
          <h4>Contact Us</h4>
          <p>
            If you have any questions about our services, prices, or process, just fill out
            the form on this page. If you'd like to go ahead and book us for your wedding,
            fill out our application so we can get all the details of your wedding in one
            place.
          </p>
          <p>
            <a href="http://purecss.io" class="pure-button">Wedding Application</a>
            <a href="http://purecss.io" class="pure-button">Pricing</a>
          </p>
        </div>
      </div>

    </div>
