{% include header.html %}

  <div class="splash-container">
    <!--HTML5 Video-->
    <video id="bgvid" autoplay loop poster="">
      <source src="../video/st-bg-video.mp4" type="video/mp4">
    </video>

    <div class="splash">
      <div class="abs-center videos-hero">
        <img class="videos-logo" src="../image/camera-white.png" alt="logo">
        <h1 class="splash-head-2">OUR VIDEOS</h1>
        <p class="splash-subhead">
        Wedding videographers from Louisiana
        </p>
      </div>
    </div>
  </div>

  <div class="content-wrapper">

    <div class="l-box-lrg pure-g">
      <div class="is-center pure-u-1-1">
        <h2 class="content-head">Janalyn and David</h2>
        <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VbKQmI2s4fc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="l-box-lrg pure-g">
      <div class="is-center pure-u-1-1">
        <h2 class="content-head">Amber and Greg</h2>
        <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/eOKFTrCS2z4" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="l-box-lrg pure-g">
      <div class="is-center pure-u-1-1">
        <h2 class="content-head">Will and Reghan</h2>
        <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L3vKxXVjJoQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    {% include ready-to-book.html %}

    {% include contact.html %}

    {% include footer.html %}
